spring:
  application:
    name: moghilan-cloud-account-microservice
server:
  port: 6060
eureka:
  client:
    service-url:
      default-zone: ${EUREKA_URI:http://localhost:8761/eureka}
    instance:
      prefer-ip-address: true
