spring:
  application:
    name: moghilan-cloud-feign-client

server:
  port: 8083
  
eureka:
  client:
    service-url:
      default-zone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
